{% load static %}
<header class="nxl-header">
    <div class="header-wrapper">
        <div class="header-left d-flex align-items-center gap-4">
            <a href="javascript:void(0);" class="nxl-head-mobile-toggler" id="mobile-collapse">
                <div class="hamburger hamburger--arrowturn">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="header-right ms-auto d-flex align-items-center gap-3">
            <div class="dropdown">
                <a href="javascript:void(0);" class="avatar-text avatar-md bg-primary text-white" data-bs-toggle="dropdown">
                    {{ user.get_username|truncatechars:10 }}
                </a>
                <div class="dropdown-menu nxl-h-dropdown">
                    <a href="javascript:void(0);" class="dropdown-item">
                        {% if user.is_superuser %}Administrador{% else %}{{ user.get_username }}{% endif %}
                    </a>
                    <div class="dropdown-divider"></div>
                    <form method="post" action="{% url 'logout' %}" class="dropdown-item">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link p-0 text-decoration-none">
                            <i class="feather-log-out"></i>
                            <span>Logout</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
