{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="wrapper">
    {% include "partials/_sidebar.html" %}
    {% include "partials/_topbar.html" %}
    <main class="nxl-container">
        <div class="nxl-content">
            <header class="page-header">
                <h1 class="page-title">{% block page_title %}{% endblock %}</h1>
            </header>
            <div class="main-content">
                {% include "partials/_messages.html" %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
</div>
{% endblock %}
