{% extends "base.html" %}
{% load static %}

{% block body %}
{% include "partials/_sidebar.html" %}
{% include "partials/_topbar.html" %}
<main class="nxl-container">
    <div class="nxl-content">
        <div class="page-header">
            <div class="page-header-left d-flex align-items-center">
                <div class="page-header-title">
                    <h4 class="default-fs">{% block page_title %}{% endblock %}</h4></div>
            </div>
        </div>
        <div class="main-content">
            {% include "partials/_messages.html" %}
            {% block content %}{% endblock %}
        </div>
    </div>
</main>
{% endblock %}
